.section__experience{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    @include mediaFrom(lg) {
        flex-direction: row;
        column-gap: 20px;
        align-items: center;
    }
    &__information{
        text-align: center;
        @include mediaFrom(lg) {
            text-align: left;
            width: 52%;
        }
        h2{
            font-weight: $font-bold;
            letter-spacing: -1px;
            font-size: 32px;
            line-height: 1;
            @include mediaFrom(lg) {
                font-size: 42px;
            }
        }
        p{
            color: $colorTertiary;
            line-height: 1.75;
        }
    }
    &__image{
        position: relative;
        width: 100%;
        @include mediaFrom(lg) {
            width: 48%;
        }
        img{
            border-radius: 10px;
        }
        figcaption{
            position: absolute;
            overflow: hidden;
            bottom: 20px;
            left: 20px;
            background-color: $colorSecondary;
            text-align: center;
            padding: 15px;
            border-radius: 6px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
            span{
                font-size: 72px;
                font-weight: 700;
                color: $colorSecondary;
                display: block;
                position: relative;
                z-index: 1;
            }
            p{
                font-weight: 500;
                font-size: 16px;
             
            }
            div{
                height: 160px;
                width: 160px;
                border-radius: 100%;
                background-color: $colorQuaternary;
                position: absolute;
                right: 0;
                top: -70px;
                z-index: 0;
            }
        }
    }
}

.section__store{
    display: flex;
    flex-direction: column-reverse;
    row-gap: 40px;
    @include mediaFrom(lg) {
        flex-direction: row;
        column-gap: 20px;
        align-items: center;
    }
    &__information{
        text-align: center;
        @include mediaFrom(lg) {
            text-align: left;
            width: 48%;
        }
        h2{
            font-weight: $font-bold;
            letter-spacing: -1px;
            font-size: 32px;
            line-height: 1;
            @include mediaFrom(lg) {
                font-size: 42px;
            }
        }
        p{
            color: $colorTertiary;
            line-height: 1.75;
        }
    }
    &__iframe{
        width: 100%;
        @include mediaFrom(lg) {
            width: 52%;
        }
    }
}