@import "general/general";
@import "buttons/buttons";
@import "banner/banner";
@import "footer/footer";
@import "header/header";
@import "marcas/marcas";
@import "preguntas/preguntas";
@import "payments/payments";
@import "servicios/servicios";
@import "ubicacion/ubicacion";
@import "animation/animation";
