.scrolled .nav-button-message{
    color: $colorPrimary;
}
.nav__content__cintillo{
    display: flex;
    flex-direction: column;
    background-color: $colorPrimary;
    @include mediaFrom(lg) {
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        background-color: transparent;
        padding: 8px 0;
    }
}
.nav__cintillo {
    display: flex;
    justify-content: space-around;
    column-gap: 2px;
    
    padding: 8px;
    transition: .25s ease-in-out;
    @include mediaFrom(lg) {
        column-gap: 20px;
        
    }
    .scrolled &{
        background-color: $colorSecondary;
        transition: .25s ease-in-out;
        @include mediaFrom(lg){
            background-color: transparent;
        }
    }
    &:nth-child(1){
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 10px;
    }
    & p {
        color: $colorSecondary;
        text-align: center;
        font-size: 14px;
        .scrolled &{
            color: $colorPrimary;
        }
        @include mediaFrom(lg) {
            font-size: 16px;
        }
    }
    & a {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: auto;
        font-size: 12px;
        color: $colorSecondary;
        .scrolled &{
            color: $colorPrimary;
        }
        @include mediaFrom(lg) {
            font-size: 14px;
        }
    }
    & svg{
        fill: $colorSecondary;
        width: 25px;
        .scrolled &{
            fill: $colorPrimary;
        }
    }
}
.nav_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 0;
    @include mediaFrom(lg) {
        padding: 0 0 16px 0;
    }

}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    transition: .25s ease-in-out;
    z-index: 100; 
    .scrolled &{
        background-color: $colorSecondary;
        box-shadow: 0px 1px 10px 0px rgba(66, 68, 90, 1);
    }
    @include mediaFrom(lg) {
        background-color: transparent;
        padding: 0 16px;
    }

    &__logo {
        display: inline-block;
        margin-left: 16px;
    }

    &-button-message {
        display: none;
    }

    &__button {
        position: relative;
        width: 22px;
        height: 14px;
        margin-right: 16px;
        @include mediaFrom(lg) {
            display: none;
        }
        &__message{
            
            @include button-primary($color: $colorSecondary);
            display: none;
            margin-right: 16px;
            @include mediaFrom(lg) {
                display: flex;
                align-items: center;
                padding: 10px 20px;
            
            }
            &:hover{
                cursor: pointer;
                transition: 0.25s ease-in-out;
                background-color: $colorSecondary;
                color: $colorPrimary;
            }
        }
        &__bar {
            display: block;
            position: absolute;
            top: 7px;
            left: 0;
            background-color: $colorPrimary;
            width: 24px;
            height: 3px;

        &:first-child {
            top: 0;
        }

        &:last-child {
            top: 14px;
        }
            transition: .5s ease-in-out;
        }

        &.active {
            .nav__button__bar {
                transition: .5s ease-in-out;
                z-index: 110;
                &:nth-child(2) {
                    opacity: 0;
                }
                &:first-child {
                    top: 7px;
                    transform: rotate(45deg);
                }
                &:last-child {
                    top: 7px;
                    transform: rotate(-45deg);
                }
            }
        }
        &__mobile{
            position: absolute;
            right: 0;
            top: 39px;
        }
    }

    &__list{
        display: none;
        @include mediaFrom(lg) {
            display: flex;
            font-size: 16px;
            max-width: 600px;
        }
        &__item{
            padding: 10px 20px;
            a{
                position: relative;
                display: inline-block;
                font-size: 16px;
                color: $colorSecondary;
                .scrolled &{
                    color: $colorPrimary;
                }
                &::after{
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background-color: $colorSecondary;
                    bottom: -5px;
                    transition: .25s ease-in-out;
                    .scrolled &{
                        background-color: $colorPrimary;
                    }
                }
                &:hover{
        
                    &::after{
                        width: 100%;
                        transition: .25s ease-in-out;
                    }
                }
            }
        }
    }

    &__mobile{
        position: fixed;
        top: -100vh;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: $colorPrimary;
        transition: .4s ease-out .6s;
        z-index: 100;

        &.active {
            top: 0;
            transition: .30s ease-in .30s;

            .nav__list__mobile__item{
                transform: scale(1) translateY(0);
                opacity: 1;
                &:nth-child(1){
                    transition-delay: .27s
                }
                &:nth-child(2){
                    transition-delay: .34s
                }
                &:nth-child(3){
                    transition-delay: .41s
                }
                &:nth-child(4){
                    transition-delay: .48s
                }
                &:nth-child(5){
                    transition-delay: .55s
                }
            }
        }

        
    }
    &__list__mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0 35px;
        
        &__item {
            width: 100%;
            list-style: none;
            opacity: 0;
            transform: scale(1.15) translateY(-30px);
            transition: transform .5s cubic-bezier(.4, .01, .165, .99), opacity .6s cubic-bezier(.4, .01, .165, .99);
            &:nth-child(1){
                transition-delay: .49s
            }
            &:nth-child(2){
                transition-delay: .42s
            }
            &:nth-child(3){
                transition-delay: .35s
            }
            &:nth-child(4){
                transition-delay: .28s
            }
            &:nth-child(5){
                transition-delay: .21s
            }
                
            a {
                display: flex;
                font-size: 18px;
                padding: 20px 0;
                font-weight: 500;
                color: $colorSecondary;
                border-bottom: 1px solid rgba(255, 255, 255, .1);
                transition: color .15s 
                ease-in-out, background-color .15s 
                ease-in-out, border-color .15s 
                ease-in-out;
            }
            &:last-child{
                a{
                    border-bottom: none;
                }
            }
        }
    }
    
}


