.section__banner{
    position: relative;
    margin-top: 172px;
    @include mediaFrom(lg) {
        margin-top: 0;
    }
    picture{
        display: flex;
    }
    & img{
            filter: brightness(.8);
        }
    &__information{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        padding: 0 16px;
        transform: translate(-50%, -50%);
        max-width: 600px;
        z-index: 10;

        @include mediaFrom(lg) {
            left: 40%;
            top: 60%;
            max-width: 750px;
            padding: 0;
        }
        @include mediaFrom(xl) {
            top: 50%;
        }
        &__secondary{
            top: 50%;
            @include mediaFrom(lg) {
                left: 50%;
                top: 50%;
                max-width: 60%;
                padding: 0;
            }
        }
        span{
            display: inline-flex;
            align-items: center;
            flex-direction: row-reverse;
            column-gap: 8px;
            border-radius: 32px;
            font-size: 12px;
            text-transform: uppercase;
            justify-content: center;
            padding: 8px 16px;
            color: $colorSecondary;
            background: linear-gradient(to right, rgba(24, 25, 28, .5), rgba(255, 255, 255, 0.0));
            animation: slideTop .5s ease-out forwards;
        }
        h1{

            font-size: 48px;
            margin: 16px 0;
            line-height: 1;
            animation: slideTop 1s ease-out forwards;
   
            @include mediaFrom(lg) {
                font-size: 70px;
            }
        }
        h2{
            margin-bottom: 16px;
            color: $colorSecondary;
            font-size: 18px;
            line-height: 1.5;
            animation: slideTop 1.5s ease-out forwards;
            @include mediaFrom(lg) {
                font-size: 24px;
            }
        }
        p{
            font-size: 14px;
            line-height: 1.75;
            margin-bottom: 24px;
            color: rgb(255 255 255/80%);
            animation: slideTop 2s ease-out forwards;
            @include mediaFrom(lg) {
                font-size: 16px;
            }
        }
        &__button{
            display: flex;
            flex-wrap: wrap;;
            column-gap: 20px;
            
        }
        & &--title{
            font-size: 48px;
            margin: 32px 0;
            line-height: 1;
            font-weight: $font-semibold;
            text-align: center;
            letter-spacing: -2px;
            @include mediaFrom(lg) {
                font-size: 70px;
            }
        }
        & &--text{
            font-size: 18px;
            @include mediaFrom(lg) {
                font-size: 32px
            }
        }
    }
}
.section__content__banner{
    picture{
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $colorPrimary;
            opacity: .5;
            pointer-events: none; /* evita que afecte interacciones */
            z-index: 1;
        }
    }
}
.button-primary{
    @include button-primary($color: $colorSecondary);
    animation: slideTop 2.5s ease-out forwards;
}
.button-secondary{
    display: inline-block;
    background-image: linear-gradient(to right, #0b58cb, #e94037, #0b58cb);
    color: $colorSecondary;
    font-size: 12px;
    border-radius: 50px;
    padding: 10px 16px;
    @include mediaFrom(lg) {
        padding: 20px 40px;
        font-size: 16px;
    }
}