*{
    box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
}

/* Breakpoints */
$breakpoints: (
  xs            : 360px,
  sm            : 480px,
  md            : 768px,
  lg            : 1024px,
  xl            : 1280px,
  xxl           :  1440px,
  hd            :  1920px
);
$screen-xs-min  :  360px;
$screen-sm-min  :  480px;
$screen-md-min  :  640px;
$screen-lg-min  :  1024px;
$screen-xl-min  :  1280px;
$screen-xxl-min :  1440px;
$screen-hd-min  :  1920px;

@mixin button-primary(
    $color: $colorPrimary,
    $font-size: 12px,
    $font-weight: 500
){
    width: auto;
    padding: 10px 16px;
    border-radius: 50px;
    display: inline-block;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: 1;
    color: $color;
    border: 1px solid;
    @include mediaFrom(lg) {
        padding: 20px 40px;
        font-size: 16px;
    }

    &:hover,
    &:focus{
        text-decoration: none;
        background-color: $colorSecondary;
        transition: 0.25s ease-in-out;
        color: $colorPrimary;
    }
}

@mixin mediaFrom($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

/* Colors */
$colorPrimary   : #252840;
$colorSecondary : #ffffff;
$colorTertiary  : #7d8087;
$colorQuaternary: #074eb9;

/* Fonts */
$font-bold      : 700;
$font-medium    : 500;
$font-regular   : 400;
$font-base      : "Plus Jakarta Sans", sans-serif;


body{
    margin: 0;
    font-family: $font-base;
}

h1{
    margin: 0;
    font-weight: $font-bold;
    color: $colorSecondary;
}
h2,h3,h4{
    margin: 0;
    font-weight: $font-medium;
}
h2{
    font-size: 24px;
    margin-bottom: 32px;
    @include mediaFrom(md) {
        font-size: 36px;
    }
}
h3{
    font-size: 18px;
}
h2,h3{
    color: $colorPrimary;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
}
strong{
    color: $colorPrimary;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
figure{
    margin: 0;
}
img{
    width: 100%;
    max-width: 100%;
}
button{
    background-color: transparent;
    border: 0;
}
section{
    padding: 0 16px;
    margin-bottom: 48px;
    @include mediaFrom(lg) {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 64px;
    }
    @include mediaFrom(xxl) {
        max-width: 1248px;
    }
    &:first-child,
    &:nth-child(5){
        padding: 0;
        @include mediaFrom(lg) {
            max-width: 100%;
        }
    }
    &__content{
        background-color: red;
    }
}

footer{
    padding: 0 16px;
    @include mediaFrom(lg) {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
    @include mediaFrom(xxl) {
        max-width: 1248px;
    }
}
