.section__content__brands{
    background-color: $colorPrimary;
    padding: 50px 16px;
    margin-bottom: 0;
    max-width: 100%;
    &--secondary{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 25px;
        background-color: #1e2033;
        column-gap: 10px;
        max-width: 100%;
        img{
            max-width: 48px;
            height: 100%;
        }
        p{
            color: $colorSecondary;
            text-align: center;
            line-height: 1.5;
        }
        a{
            color: $colorSecondary;
            border-bottom: 1px solid;
        }
    }
}
.section__brands {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    @include mediaFrom(xxl) {
        max-width: 1248px;
    }
    &__title{
        color: $colorSecondary;
        text-align: center;
        font-size: 32px;
        letter-spacing: -1px;
        @include mediaFrom(lg) {
            font-size: 42px;
        }
    }
    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 32px 0;
        img{
            height: 40px;
            object-fit: contain;
        }
        &__item{
            display: flex;
            justify-content: center;
            width: 48%;
            padding: 40px 30px;
            transition: .5s ease-in-out;
            &:hover{
                cursor: pointer;
                transition: .5s ease-in-out;
                background-color: $colorQuaternary;
            }
            &:nth-child(odd){
                border-right: 1px solid rgba(255, 255, 255, .1);
            }
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6){
                border-bottom: 1px solid rgba(255, 255, 255, .1);
            }
            @include mediaFrom(md) {
                width: 23%;
                &:nth-child(2),
                &:nth-child(6){
                    border-right: 1px solid rgba(255, 255, 255, .1);
                }
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7),
                &:nth-child(8){
                    border-bottom: none;
                }
            }

            @include mediaFrom(lg) {
                padding: 40px;
            }
            
        }
    }
}
svg{
    max-width: 150px;
}
svg .s1{
   fill: $colorSecondary;
}
svg .s2{
    fill: $colorPrimary;
}