.section__content__preguntas{
    position: relative;
    overflow: hidden;
    max-width: 960px;
    margin-bottom: 64px;
    padding: 0 16px;
    @include mediaFrom(lg) {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
    @include mediaFrom(xxl) {
        max-width: 1248px;
    }
    h2{
        font-weight: $font-bold;
        letter-spacing: -1px;
        font-size: 32px;
        line-height: 1.25;
        @include mediaFrom(lg) {
            font-size: 42px;
        }
    }
}
.section__preguntas__slider{
    position: relative;
    overflow: hidden;
}
.section__preguntas{
    display: flex;
    transition: transform .6s cubic-bezier(0.19, 1, 0.22, 1);
    margin: 15px 0;
    @include mediaFrom(md) {
        justify-content: center;
    }

    &__card{
        text-align: center;
        flex: 0 0 100%;
        div{
            height: 100%;
            box-shadow: 2px 2px 8px 0px rgba(66, 68, 90, 1);
            margin: 0 15px;
            border-radius: 24px;
            padding-bottom: 16px;
        }
        @include mediaFrom(md) {
            flex: 0 0 calc(100% / 3);
        }
        img {
            border-radius: 24px 24px 0 0;
            margin-bottom: 24px;
        }
        h3{
            font-weight: $font-bold;
            margin-bottom: 16px;
            min-height: 42px;
            padding: 0 16px;
        }
        p{
            color: $colorTertiary;
            line-height: 1.75;
            padding:  0 16px;
        }
    
    }
    &__button--preview,
    &__button--next{
        
        padding: 0;
    }
        
    
    &__button--preview:before,
    &__button--next:before{
        content: '';
        display: block;
        width: 48px;
        height: 48px;
        background-image: url('../assets/images/flecha.png');
        background-repeat: no-repeat;
        background-size: contain;
    }   
    &__button--next:before{
        transform: rotate(180deg);
    }

}

