.section__servicios{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    @include mediaFrom(md) {
        flex-flow: row wrap;
        column-gap: 25px;
        justify-content: center;
    }
    &__title{
        font-size: 32px;
        font-weight: $font-bold;
        margin-bottom: 65px;
        @include mediaFrom(lg) {
            font-size: 42px;
        }
    }
    &__card{
        display: flex;
        column-gap: 20px;
        @include mediaFrom(md) {
            width: 48%;
        }
        @include mediaFrom(lg) {
            width: 31%;
        }
        &__image{
            max-width: 80px;
            img{
                animation: moverArribaAbajo 1s ease-in-out infinite alternate;;
            }
        }
        &__text{
            flex: 1;
            h3{
                margin-bottom: 8px;
            }
            li{
                color: $colorTertiary;
                margin-bottom: 4px;
            }
        }
           
    }
    
}

.section__images__content{
    display: flex;
    flex-direction: column;
    @include mediaFrom(lg) {
        flex-direction: row;
    }
    & div{
        display: flex;
        border-radius: 32px;
        overflow: hidden;
    }
    img {
        border-radius: 32px;
        transition: .4s cubic-bezier(.165, .84, .44, 1);
        &:hover{
            cursor: pointer;
            transform: scale(1.1);
            transition: .4s cubic-bezier(.165, .84, .44, 1);
        }
    }
    

    &__first{
        display: flex;
        column-gap: 32px;
    }

    &__second{
        display: flex;
        column-gap: 64px;
    }
}