.section__servicios{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    @include mediaFrom(md) {
        flex-flow: row wrap;
        column-gap: 25px;
        justify-content: center;
    }
    &__title{
        font-size: 32px;
        font-weight: $font-bold;
        margin-bottom: 65px;
        @include mediaFrom(lg) {
            font-size: 42px;
        }
    }
    &__card{
        display: flex;
        column-gap: 20px;
        @include mediaFrom(md) {
            width: 48%;
        }
        @include mediaFrom(lg) {
            width: 31%;
        }
        &__image{
            max-width: 80px;
            img{
                animation: moverArribaAbajo 1s ease-in-out infinite alternate;;
            }
        }
        &__text{
            flex: 1;
            h3{
                margin-bottom: 8px;
            }
            li{
                color: $colorTertiary;
                margin-bottom: 4px;
            }
        }
           
    }
    
}

.section__images__content{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    @include mediaFrom(lg) {
        flex-direction: row;
        column-gap: 64px;
    }
    &__card{
        position: relative;
        cursor: pointer;
        & div{
            display: flex;
            border-radius: 32px;
            overflow: hidden;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 32px;
                background-color: $colorPrimary;
                opacity: .25;
                pointer-events: none; /* evita que afecte interacciones */
                z-index: 1;
            }
        }
        img {
            border-radius: 32px;
            transition: .4s ease-in-out;
        }

        figcaption{
            position: absolute;
            bottom: 20px;
            left: 20px;
            z-index: 2;
        }
        span{
            display: inline-block;
            padding: 8px 16px;
            border-radius: 32px;
            background-color: transparent;
            border: 1px solid $colorSecondary;
            color: $colorSecondary;
            font-size: 16px;
            transition: .4s ease-in-out;
            @include mediaFrom(md) {
                font-size: 20px;
            }

        }
        &:hover{
            & div{
                &::before {
                    opacity: 0.15;
                }
            }
            img {
                transform: scale(1.1);
                transition: .4s ease-in-out;
            }
            span{
                transition: .4s ease-in-out;
                background-color: #fff;
                color: $colorPrimary;
            }
        }
    }

}